#header {
  div.include {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    img {
      padding: $eau-padding;
      max-width: 100%;
    }
  }

  p {
    display: block;
    margin: auto;
    max-width: $eau-max-width;
    margin-bottom: $eau-padding;
    text-align: center;
  }
}
