#navtop {
  background: $eau-main-color;
  color: $eau-foreground-color;
  a {
    color: $eau-foreground-color;
  }
  div.include {
    text-align: center;

    a.navbar-btn {
      border: 0;
      background: $eau-main-color;
      color: $eau-background-color;
      line-height: normal;
      margin: 0;
      border-radius: 0;
      span {
        color: white;
      }
    }

    a.navbar-btn:hover {
      background: #eee;
      span {
        color: $eau-main-color;
      }
    }

    a:hover {
      color: $eau-main-color;
    }
  }

}
